@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#e72121;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    padding-left: 0rem;
}

section{
    min-height: 85vh;
    padding:.0rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem .5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color:var(--black);
    box-shadow: var(--box-shadow);
    width: 320px;
}


.btn:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}














.home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 5rem;
    color:var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p{
    font-size: 3rem;
    color:var(--green);
    padding-bottom: .5rem;
}













/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-left: 0;
    }

    .header{
        left:-110%;
    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        width:100%;
        border-right: 0;
    }

}